<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>init-property-file</param-name>
		<param-value>/WEB-INF/configs/project-juliett-local.properties</param-value>
	</context-param>
	<listener>
		<listener-class>com.juliett.commons.init.InitListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>SampleController</servlet-name>
		<servlet-class>com.juliett.api.SampleController.SampleController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UsersController</servlet-name>


		<servlet-class>com.juliett.api.UsersController.UsersController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ProductsController</servlet-name>


		<servlet-class>com.juliett.api.ProductsController.ProductsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminController</servlet-name>

		<servlet-class>com.juliett.api.AdminController.AdminController</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>FinanceEntityController</servlet-name>

		<servlet-class>com.juliett.api.FinanceEntityController.FinanceEntityController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>InsuranceEntityController</servlet-name>
		<servlet-class>com.juliett.api.InsuranceEntityController.InsuranceEntityController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PolicyController</servlet-name>
		<servlet-class>com.juliett.api.PolicyController.PolicyController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>InsuranceTypeController</servlet-name>
		<servlet-class>com.juliett.api.InsuranceTypeController.InsuranceTypeController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ApplicationFormController</servlet-name>
		<servlet-class>com.juliett.api.ApplicationFormController.ApplicationFormController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransactionsController</servlet-name>
		<servlet-class>com.juliett.api.TransactionsController.TransactionsController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PaymentController</servlet-name>
		<servlet-class>com.juliett.api.PaymentController.PaymentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IncidentReportController</servlet-name>
		<servlet-class>com.juliett.api.IncidentReportController.IncidentReportController</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>PolicyController</servlet-name>
		<url-pattern>/policy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentController</servlet-name>
		<url-pattern>/payment/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionsController</servlet-name>
		<url-pattern>/transactions/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicationFormController</servlet-name>
		<url-pattern>/application/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsuranceTypeController</servlet-name>
		<url-pattern>/insuranceType/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SampleController</servlet-name>
		<url-pattern>/sample</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UsersController</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProductsController</servlet-name>
		<url-pattern>/products/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinanceEntityController</servlet-name>
		<url-pattern>/finance/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsuranceEntityController</servlet-name>
		<url-pattern>/insurance/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncidentReportController</servlet-name>
		<url-pattern>/incident/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.juliett.api.commons.FIlters.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>SampleController</servlet-name>
		<servlet-name>UsersController</servlet-name>
		<servlet-name>AdminController</servlet-name>
		<servlet-name>InsuranceEntityController</servlet-name>
		<servlet-name>FinanceEntityController</servlet-name>
		<servlet-name>PolicyController</servlet-name>
		<servlet-name>ApplicationFormController</servlet-name>
		<servlet-name>TransactionsController</servlet-name>
		<servlet-name>PaymentController</servlet-name>
		<servlet-name>IncidentReportController</servlet-name>
	</filter-mapping>

</web-app>
